@font-face {
    font-family: 'enketo-icons';
    src:url('../enketo-icons.eot?5m0b9j');
    src:url('../enketo-icons.eot?#iefix5m0b9j') format('embedded-opentype'),
        url('../enketo-icons.woff?5m0b9j') format('woff'),
        url('../enketo-icons.ttf?5m0b9j') format('truetype'),
        url('../enketo-icons.svg?5m0b9j#enketo-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
