$form-padding: 45px;

html {
    height: 100%;
}

body {
    @include display-flex;
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    position: relative;
    min-height: 100%;
}

.paper {
    background-color: #fff;
    border-radius: 7px;
    border: 7px solid #ddd;
    position: relative;
    min-height: 100%;
}

.or {
    margin-bottom: 20px;
}

.main {
    margin: 0 auto;
    padding: 100px 0 70px 0;
    position: relative;
    width: 100%;
    max-width: $max-content-width;
    .paper {
        @include flex(1);
        @include display-flex;
        @include flex-direction(column);
        @include flex-wrap(nowrap);
        padding: $form-padding;
        position: relative;
        min-height: 100%;
    }
    ul.nav-tabs {
        margin: 20px 0 0 0;
        li {
            margin: 0;
            a {
                background: none;
            }
        }
    }
}

.form-header {
    @include border-box;
    left: 0;
    width: 100%;
    position: absolute;
    top: -75px;
    border: none;
    padding: 16px 0;
}

.form-language-selector {
    float: right;
    padding: 3px 0;
    margin-left: 10px;
    font-size: 0.8em;
}

#form-languages {
    display: inline;
    width: auto;
    height: 36px;
    background: none;
    min-width: 11em;
    border: 1px solid #ccc;
    margin: 0 0 0 16px;
    font-size: 0.9em;
}

[dir="rtl"] #form-languages {
    margin: 0 16px 0 0;
}

.form-footer {
    @include form-footer-margin($form-padding);
}

.enketo-power {
    position: relative;
    left: 50%;
    margin: 30px 0 0 -100px;
    width: 200px;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    a {
        font-style: italic;
    }
    img {
        float: none;
        vertical-align: top;
        width: 48px;
    }
}
