body {
    @include font-normal;
}

strong {
    @include font-bold;
}

h2, h3, h4 {
    @include font-bold;
    color: $accent-color-1;
    text-align: center;
}

h3 {
    padding: 5px 0 15px 0;
    word-wrap: break-word;
}

h4 {
    text-align: left;
}

/** hide stuff **/

.or [lang]:not(.active), .or-option-translations, .or-appearance-page-break, .or-constraint-msg, .or-required-msg,
.option-wrapper .itemset-template, .itemset-labels {
    display: none;
}

/** hints **/
.or-hint.active {
    @include font-normal;
    color: #888888;
    display: block;
    line-height: 16px;
    font-weight: normal;
    font-size: 11px;
    font-style: italic;
    padding-top: 5px;
    ~ br {
        display: none;
    }
}

.or .form-logo {
    display: block;
    text-align: center;
    width: 100%;
    img {
        float: none;
        display: inline;
        max-height: 200px;
        max-width: 120px;
    }
}

.or-repeat {
    background-color: $repeat-bg;
    margin: 0 0 3px 0;
    padding: 10px 10px 10px 10px;
    .repeat-number {
        height: 2em;
        display: block;
        float: right;
        color: $accent-color-1;
        + .or-group {
            border-top: none;
        }
    }
}

.or-group {
    border-top: $line;
    margin: 1.5em 0 0.4em 0;
    .or-group {
        margin: 1.5em 0 0.5em 0;
    }
}

#stats + .or-group, #or-preload-items + .or-group, #form-languages + .or-group {
    border-top: none;
}

.question {
    @include font-bold;
    display: block;
    margin: 0 0 9px 0;
    padding-top: 15px;
    > fieldset {
        padding: 0;
        margin: 0;
    }
}

// to make sure media doesn't break outside the box
.question, .trigger, .note {
    @include clearfix;
}

.trigger, .note {
    @include font-normal;
    color: $note-color;
    background: $note-bg;
    border: $note-border;
    border-radius: $note-border-radius;
    display: block;
    padding: 7px 12px;
    margin: 15px 0;
    input[readonly]:not([type=radio]):not([type=checkbox]) {
        display: none;
        &.has-value {
            display: block;
        }
    }
}

.note + .note {
    border-top: none;
    border-bottom: none;
    @include border-radius(0);
    margin-top: -18px;
    margin-bottom: 0;
    & + .note {
        margin-top: 0;
    }
    &.last-of-class {
        border-bottom: $note-border;
        border-bottom-left-radius: $note-border-radius;
        border-bottom-right-radius: $note-border-radius;
    }
}

label, legend, .trigger, .note {
    // font-size: 1em; // is this wise/useful?
}

.or {
    $media-margin: 10px;
    img, audio, video {
        float: right;
        margin-left: $media-margin 0 $media-margin $media-margin;
        max-height: 300px;
        max-width: 70%;
    }
    video {
        max-width: 100%;
    }
    @each $medium in image, video, audio {
        $tag: $medium;
        @if $medium == image {
            $tag: img;
        }
        .or-appearance-#{$medium}-left #{$tag} {
            float: left;
            margin: $media-margin $media-margin $media-margin 0;
        }
        .or-appearance-#{$medium}-right #{$tag} {
            float: right;
            margin-left: $media-margin 0 $media-margin $media-margin;
        }
        .or-appearance-#{$medium}-center #{$tag} {
            margin: $media-margin auto;
            display: block;
            float: none;
        }
    }
}

legend {
    position: relative;
    line-height: 12px;
    border: none;
    //margin-bottom: 0.6em; //works in Chrome
    > span {
        vertical-align: 12px;
    }
}

//works in safari, some other webkit browsers
.option-wrapper > label {
    @include font-normal;
    display: block;
    margin: 0;
    padding: 4px 0 4px 0;
    &.with-media {
        padding: 0;
    }
    // TODO: remove hover rule for tables (in likert already done)
    &:hover {
        background-color: lighten($accent-color-1, 48%);
    }
    .active {
        margin-left: 5px;
    }
}

.or-appearance-horizontal {
    label {
        padding-right: 10px;
        float: left;
    }
    [type="radio"], [type="checkbox"] {
        width: auto;
    }
}

.touch {
    .question:not(.or-appearance-compact):not(.or-appearance-quickcompact):not(.or-appearance-label):not(.or-appearance-list-nolabel):not(.or-appearance-likert) {
        // touch radio buttons and checkboxes
        .option-wrapper > label {
            background-color: transparent;
            border: 1px solid #ccc;
            @include border-radius(4px);
            width: auto;
            margin-right: 20px;
            margin-bottom: 6.4px;
            line-height: 40px;
            text-align: left;
            padding: 4px 4px 4px 0;
            .active {
                margin-right: 10px;
            }
            input[type="radio"], input[type="checkbox"] {
                margin-top: 10px;
                margin-left: 15px;
            }
            &:focus, &:hover, &:active, &[data-checked] {
                background-color: lighten($accent-color-1, 50%);
            }
        }
    }
    input:not([type="radio"]):not([type="checkbox"]), textarea, select {
        @include border-radius(2px);
        margin: 10px 0 10px 0;
        color: #104b66;
        //background-color: #f5f2ed;
   
    }
    //.input-append .add-on {
    //    margin-top: 10px;
    //}
    input:not([type="radio"]):not([type="checkbox"]), textarea {
        border: 1px solid #ddd8ce;
    }
}

input:not([type="radio"]):not([type="checkbox"]), textarea, select, .widget {
    display: block;
    margin: 8px 0 0 0;
}

input:not([type="radio"]):not([type="checkbox"]), textarea {
    height: $input-height;
}

.question input, .note input {
    &[type="text"],&[type="password"], &[type="url"], &[type="email"], &[type="file"] {
        width: $input-max-width;
    }
    &[type="date"], &[type="number"], &[type="time"], &[type="datetime"] {
        width: $input-min-width;
    }
    &[type="radio"], &[type=checkbox] {
        margin: -2px 0 0px 7px;
    }
}

.question textarea, .note textarea {
    width: $input-max-width;
    resize: vertical;
    min-height: 9em;
}

.or-repeat {
    .repeat {
        //margin: 0 -34px -5px 10px;
   
    }
    .remove {
        float: right;
        margin-right: 0;
    }
}

//.input-append .add-on {
//  padding: ($input-height - 12)/2 5px;
//  margin-top: 8px;
//  border-top-right-radius: 3px;
//  border-bottom-right-radius: 3px;}
.alert {
    margin-bottom: 4px;
}

.required {
    margin-left: 3px;
    color: $accent-color-1;
}

.required-subtle {
    @include transition-slow;
    float: right;
    margin-top: 4px;
    color: #e00e0e;
    font-size: 0.8em;
    @media screen and (max-width: 500px) {
        font-size: 0.5em;
    }
}

.focus .required-subtle {
    @include transition-slow;
    color: #333333;
}

.disabled {
    opacity: 0.5;
}

.invalid-constraint, .invalid-required {
    @include transition-fast;
    @include error-bg-border;
    $pad: 10px;
    margin-right: -$pad;
    margin-left: -$pad;
    padding-left: $pad;
    padding-right: $pad;
    padding-bottom: $pad;
}

.invalid-required {
    .or-required-msg.active {
        @include error-text;
    }
}

.invalid-constraint {
    .or-constraint-msg.active {
        @include error-text;
    }
}

// this may have a very significant positive impact on performance
.or-branch {
    &.disabled, &.or-branch.pre-init {
        display: none;
    }
}

.btn-reset {
    margin-left: 10px;
    background: none;
    border: none;
    box-shadow: none;
    opacity: 0.5;
    &:hover {
        opacity: 0.7;
    }
    &[readonly] {
        background: none;
    }
    .glyphicon-trash {
        color: #000;
        vertical-align: middle;
    }
}
