@mixin font-bold {
    font-weight: bold;
}

@mixin font-normal {
    font-weight: normal;
}

@mixin enketo-icon {
    font-family: 'enketo-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin transition-slow($prop: all, $duration: 1s) {
    -webkit-transition: $prop $duration ease-out;
    //-moz-transition: $prop $duration ease-out;
    //-o-transition: $prop $duration ease-out;
    transition: $prop $duration ease-out;
}

@mixin transition-fast($prop: all) {
    -webkit-transition: $prop 0.6s ease-out;
    //-moz-transition: all 0.6s ease-out;
    //-o-transition: all 0.6s ease-out;
    transition: $prop 0.6s ease-out;
}

@mixin transition-none($prop: all) {
    -webkit-transition: all 0.001s ease-out;
    //-moz-transition: all 0.01s ease-out;
    //-o-transition: all 0.01s ease-out;
    transition: all 0.001s ease-out;
}

@mixin transition-background-color {
    -webkit-transition: background-color 0.2s linear;
    //-moz-transition: background-color 0.2s linear;
    //-o-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

@mixin font-sizes($base, $factor) {
    font-size: $factor * $base;
    h1 {
        font-size: $factor * $base * 2.75;
    }
    h2 {
        font-size: $factor * $base * 2.25;
    }
    h3 {
        font-size: $factor * $base * 1.75;
    }
    h4 {
        font-size: $factor * $base * 1.25;
    }
    h5 {
        font-size: $factor * $base;
    }
    h6 {
        font-size: $factor * $base * 0.85;
    }
}

@mixin border-box {
    -moz-box-sizing: border-box;
    //-webkit-box-sizing: border-box;
    //-ms-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin box-shadow-none {
    //-moz-box-shadow: none;
    //-webkit-box-shadow: none;
    box-shadow: none;
}

@mixin box-shadow-touch {
    //-webkit-box-shadow: inset 0 -1px 0 rgba(90, 90, 90, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    //-moz-box-shadow: inset 0 -1px 0 rgba(90, 90, 90, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 -1px 0 rgba(90, 90, 90, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

@mixin border-radius($radius) {
    //-moz-border-radius: $radius;
    //-webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin error-bg-border {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    //-webkit-border-radius: 4px;
    //-moz-border-radius: 4px;
    border-radius: 4px;
}

@mixin error-text {
    display: block;
    padding-top: 5px;
    font-size: 0.85em;
    font-weight: bold;
    color: #B94A48;
}

@mixin appearance-none {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

@mixin display-flex {
    /*IE10*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin display-inline-flex {
    /*IE10*/
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

@mixin flex($value, $total: null) {
    $flex: 100%;
    @if not $total {
        $flex: $value;
    }
    @else if $total >= $value {
        $flex: $value / $total * 100%;
    }
    -webkit-flex: $flex;
    -ms-flex: $flex;
    flex: $flex;
}

@mixin flex_IEhack($value, $total: null) {
    $flex: 100%;
    @if not $total {
        $flex: $value;
    }
    @else if $total >= $value {
        $flex: $value / $total * 100%;
    }
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    // Internet Explorer 10 and 11 have a box-sizing issue with multiline flexboxes
    // box-sizing: border-box is ignored
    // 2 x 6px padding + 1 border = 13px adjustment
    -webkit-flex-basis: calc(#{$flex} - 13px);
    // IE10:
    -ms-flex-preferred-size: calc(#{$flex} - 13px);
    -ms-flex-positive: 1;
    -ms-flex-negative: 1;
    // unprefixed
    flex-basis: calc(#{$flex} - 13px);
}

@mixin flex-wrap($wrap: wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

@mixin flex-direction($dir: row) {
    -webkit-flex-direction: $dir;
    -ms-flex-direction: $dir;
    -moz-flex-direction: $dir;
    flex-direction: $dir;
}
