@mixin font-bold {
    font-weight: bold;
}

@mixin font-normal {
    font-weight: normal;
}

@mixin enketo-icon {
    font-family: 'enketo-icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin transition($transition...) {
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition-slow($prop: all, $duration: 1s) {
    -webkit-transition: $prop $duration ease-out;
    transition: $prop $duration ease-out;
}

@mixin transition-fast($prop: all) {
    -webkit-transition: $prop 0.6s ease-out;
    transition: $prop 0.6s ease-out;
}

@mixin transition-none($prop: all) {
    -webkit-transition: all 0.001s ease-out;
    transition: all 0.001s ease-out;
}

@mixin transition-background-color {
    -webkit-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}

@mixin rotate($value) {
    -webkit-transform: rotate($value);
    -ms-transform: rotate($value);
    -moz-transform: rotate($value);
    transform: rotate($value);
}

@mixin background-size($size...) {
    -webkit-background-size: $size;
    -moz-background-size: $size;
    -o-background-size: $size;
    background-size: $size;
}

@mixin border-box {
    -moz-box-sizing: border-box;
    //-webkit-box-sizing: border-box;
    //-ms-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin box-shadow($shadow...) {
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

// Box sizing
@mixin box-sizing($boxmodel) {
    -webkit-box-sizing: $boxmodel;
    -moz-box-sizing: $boxmodel;
    box-sizing: $boxmodel;
}

@mixin box-shadow-none {
    //-moz-box-shadow: none;
    //-webkit-box-shadow: none;
    box-shadow: none;
}

@mixin box-shadow-touch {
    //-webkit-box-shadow: inset 0 -1px 0 rgba(90, 90, 90, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    //-moz-box-shadow: inset 0 -1px 0 rgba(90, 90, 90, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 -1px 0 rgba(90, 90, 90, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

@mixin border-radius($radius) {
    //-moz-border-radius: $radius;
    //-webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin tab-focus {
    // Default
    outline: thin dotted;
    // WebKit
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        // 1
        display: table;
        // 2
   
    }
    &:after {
        clear: both;
    }
}

@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin text-hide {
    font: #{0 / 0} a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

@mixin appearance-none {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

@mixin display-flex {
    /*IE10*/
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin display-inline-flex {
    /*IE10*/
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

@mixin flex($value, $total: null) {
    $flex: 100%;
    @if $total == null {
        $flex: $value;
    }
    @else if $total >= $value {
        $flex: percentage($value / $total);
    }
    -webkit-flex: $flex;
    -ms-flex: $flex;
    flex: $flex;
}

@mixin flex_IEhack($value, $total: null) {
    $flex: 100%;
    @if $total == null {
        $flex: $value;
    }
    @else if $total >= $value {
        $flex: percentage($value / $total);
    }
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    // Internet Explorer 10 and 11 have a box-sizing issue with multiline flexboxes
    // box-sizing: border-box is ignored
    // 2 x 6px padding + 1 border = 13px adjustment
    -webkit-flex-basis: calc(#{$flex} - 13px);
    // IE10:
    -ms-flex-preferred-size: calc(#{$flex} - 13px);
    -ms-flex-positive: 1;
    -ms-flex-negative: 1;
    // unprefixed
    flex-basis: calc(#{$flex} - 13px);
}

@mixin flex-wrap($wrap: wrap) {
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    -moz-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

@mixin flex-direction($dir: row) {
    -webkit-flex-direction: $dir;
    -ms-flex-direction: $dir;
    -moz-flex-direction: $dir;
    flex-direction: $dir;
}

@mixin form-control {}

// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
@mixin gradient-vertical($start-color: #555555, $end-color: #333333, $start-percent: 0%, $end-percent: 100%) {
    background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);
    // Safari 5.1-6, Chrome 10+
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent);
    // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0);
    // IE9 and down
}

@mixin gradient-vertical-three-colors($start-color: #00b3ee, $mid-color: #7a43b6, $color-stop: 50%, $end-color: #c3325f) {
    background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0);
    // IE9 and down, gets no color-stop at all for proper fallback
}
