.pages.or {
    // to reduce browser re-painting before js starts kicking in and sets role="page"
    display: none;
    .or-group, .or-group-data, .or-repeat {
        // to hide group border and title if no or-appearance-pages class is set
        display: none;
        &.contains-current {
            display: block;
        }
    }
    [role="page"] {
        display: none;
        &.current {
            display: block;
            .or-group:not(.disabled), .or-group-data:not(.disabled), .or-repeat:not(.disabled) {
                display: block;
            }
        }
        &.hidden {
            opacity: 0;
        }
        &.fade-out {
            opacity: 0;
            @include transition-fast;
        }
    }
}

// deals only with showing hiding buttons in pages mode
.pages ~ .form-footer {
    &.end {
        .btn {
            display: inline-block;
        }
        .previous-page {}
        .next-page {
            display: none;
        }
        .logout, .draft {
            display: block;
        }
    }
    .logout {
        margin-bottom: 50px;
    }
    .btn {
        display: none;
    }
    .previous-page, .next-page {
        display: inline-block;
        &.disabled {
            display: none;
        }
    }
    .first-page, .last-page {
        display: inline-block;
    }
    .logout, .draft {
        display: none;
    }
}
