.pages.or {
    // to reduce browser re-painting before js starts kicking in and sets role="page"
    display: none;
    .or-group, .or-group-data, .or-repeat {
        // to hide group border and title if no or-appearance-pages class is set
        display: none;
        &.contains-current {
            display: block;

        }
    }
    [role="page"] {
        display: none;
        //border: 1px solid red;
        &.current {
            display: block;
            .or-group:not(.disabled), .or-group-data:not(.disabled), .or-repeat:not(.disabled) {
                display: block;
            }
        }
        &.hidden {
            opacity: 0;
        }
        &.fade-out { 
            opacity: 0;
            @include transition-fast;
        }
    }
    ~ .pages-nav {
        @include display-flex;
        @include flex-direction(row);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .btn {
            border-radius: 0;
            color: #4D4D4D;
        }
        .previous-page, .next-page {
            @include flex(1);
            width: 50%;
        }
        .first-page, .last-page{
            width: 60px;
        }
    }
}
