.pages.or {
    // to reduce browser re-painting before js starts kicking in and sets role="page"
    display: none;
    .or-group, .or-group-data, .or-repeat {
        // to hide group border and title if no or-appearance-pages class is set
        display: none;
        &.contains-current {
            display: block;

        }
    }
    [role="page"] {
        display: none;
        //border: 1px solid red;
        &.current {
            display: block;
            .or-group, .or-group-data, .or-repeat {
                display: block;
            }
            //@include transition-fast;
        }
        &.hidden {
            opacity: 0;
        }
        &.fade-in {
            opacity: 1;
            @include transition-fast;
        }
        &.fade-out { 
            opacity: 0;
            @include transition-fast;
        }
        /*&.move-from-next {
            @include transition-none;
            @include translate(100%, 0);
        }
        &.move-from-prev {
            @include transition-none;
            @include translate(-100%, 0);
        }*/
    }
    ~ .pages-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .btn.previous-page,
        .btn.next-page {
            border-radius: 0;
            width: 50%;
            border-bottom: none;
            border-left: none;
        }
        .btn.previous-page {
            //left: 0;
       
        }
        .btn.next-page {
            //left: 50%;
            border-right: none;
        }
    }
}
