.pages.or {
    // to reduce browser re-painting before js starts kicking in and sets role="page"
    display: none;
    .or-group, .or-group-data {
        // to hide group border and title if no or-appearance-pages class is set
        display: none;
        &.contains-current {
            display: block;
        }
    }
    [role="page"] {
        display: none;
        //border: 1px solid red;
        
        &.current {
            display: block;
        }
        &.move-to-left-animated {
            @include transition-fast;
            @include translate(-100%, 0);
        }
        &.move-to-left-now {
            @include translate(-100%, 0);
        }
        &.move-to-right-animated {
            @include transition-fast;
            @include translate(100%, 0);
        }
        &.move-to-right-now {
            @include translate(100%, 0);
        }
    } 
    ~ .pages-nav {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        .btn.previous-page,
        .btn.next-page {
            border-radius: 0;
            width: 50%;
            border-bottom: none;
            border-left: none;
        }
        .btn.previous-page {
            //left: 0;
        }
        .btn.next-page {
            //left: 50%;
            border-right: none;
        }
    }
}
