body {
    background: none;
    .main {
        margin: 0;
        article {
            padding: 3px;
        }
    }
    .paper {
        border: none;
        margin: 0;
    }
}

.drawer,
#feedback-bar,
#dialog-alert,
#dialog-confirm,
#dialog-save,
#form-languages,
.form-header,
.enketo-power,
.or-appearance-no-print,
button,
.paper #submit-form {
    display: none !important;
}

.or {
    .hint,
    .or-appearance-no-print,
    .question:not(.or-appearance-maps) .map-canvas-wrapper,
    .geopoint .search-bar,
    .or-constraint-msg,
    .required-subtle,
    .add-on,
    button,
    .invalid-required .or-required-msg.active,
    .invalid-constraint .or-constraint-msg.active {
        display: none !important;
    }
    .or-branch.disabled {
        opacity: 1;
        display: block !important;
    }
}

.or-hint.active {
    margin-top: 0;
    line-height: 1em;
}

legend {
    & ~ label {
        padding: 0;
    }
    margin-bottom: 5px;
}

.geopoint.widget {
    margin-top: 0;
    max-height: 60px;
    .geo-inputs {
        width: 100%;
        label.geo {
            display: inline-block;
            width: 25%;
            margin: 0 !important;
            &:nth-of-type(3), &:nth-of-type(4) {
                margin-top: 0;
                padding-top: 0;
                font-size: inherit;
                border-top: none;
                font-size: auto;
            }
            input {
                display: none;
            }
        }
    }
}

.bootstrap-select {
    @include clearfix;
    .dropdown-toggle {
        display: none;
    }
    ul {
        position: static;
        display: block;
        border: none;
        box-shadow: none;
        list-style-type: circle;
        li, li.active {
            display: inline-block;
            border: 1px solid #000000;
            margin-right: 20px;
        }
        a {
            background: none;
            color: black;
        }
        input {
            display: none;
        }
    }
}

.page-break {
    display: block;
    //border: 1px dashed blue;
    color: transparent;
    border-bottom: none;
    page-break-before: always !important;
}
