/** CORE **/

$printBaseFontSize: 12px;

* {
    float: none;
}

body {
    display: block;
    overflow: visible;
    background: none;
    .main {
        overflow: visible;
        margin: 0;
        padding: 0;
        .paper {
            padding: 3px;
            display: block;
        }
    }
    .paper {
        overflow: visible;
        border: none;
        margin: 0;
    }
}

.side-slider,
.side-slider__toggle,
#feedback-bar,
#dialog-alert,
#dialog-confirm,
#dialog-save,
#form-languages,
.form-header,
.form-logo,
.form-footer,
.or-appearance-no-print,
.ad,
.paper #submit-form {
    display: none !important;
}

.or {
    .hint,
    .or-appearance-no-print,
    .question:not(.or-appearance-maps) .map-canvas-wrapper,
    .geopoint .search-bar,
    .or-constraint-msg,
    .required-subtle,
    .add-on,
    .file-feedback,
    video,
    audio,
    button,
    .invalid-required .or-required-msg.active,
    .invalid-constraint .or-constraint-msg.active {
        display: none;
    }
    .or-branch.disabled {
        opacity: 1;
        display: block;
    }
    input[type="file"] {
        // still let it take up space
        visibility: hidden;
    }
}

// font sizes  & line heights
h3 {
    font-size: 1.6 * $printBaseFontSize;
}

h4 {
    font-size: 1.3 * $printBaseFontSize;
}

label, legend, .trigger, .note {
    font-size: $printBaseFontSize;
}

.question-label, .option-label, label.geo {
    font-size: $printBaseFontSize;
}

.question input:not([type=radio]):not([type=checkbox]) {
    font-size: $printBaseFontSize;
}

.or {
    h2, h3, h4, .required {
        color: black;
    }
    h3, h4 {
        margin: 0;
    }
    h3 {}
    .question {
        margin-bottom: 0;
    }
    legend {
        margin-bottom: 5px;
        ~ label {
            padding: 0;
        }
        span:not(.or-output) {
            display: block;
        }
    }
    .note, .trigger {
        font-weight: normal;
        background: none;
        color: black;
        padding: 5px 5px 12px 5px;
    }
    .required {
        float: right;
    }
    .or-repeat {
        background: none;
    }
    input[type=text], input[type=password], input[type=url], input[type=email], input[type=file],  input[type=date], input[type=time], input[type=datetime], input[type=number], select, textarea {
        @include border-radius(0px);
        @include box-shadow-none;
        @include appearance-none;
        border: none;
        background: none;
        border-bottom: 1px solid black;
    }
    input[type="file"] {
        display: none !important;
    }
    .or-hint.active, .or-hint.or-form-print.active {
        color: black;
        display: block;
        padding-top: 5px;
        margin-top: 0;
        line-height: 1em;
    }
    .or-hint.or-form-print.active {
        border: 1px dotted black;
        padding: 1px;
        margin-top: 5px;
        font-size: 10px;
    }
}

.invalid-constraint, .invalid-required {
    background: none;
    border: 1px solid red;
}

.geopicker.widget {
    margin-top: 10px;
    .geo-inputs {
        width: 100%;
        label.geo {
            display: inline-block;
            width: 25%;
            padding: 0 !important;
            margin: 7px 0 0 0 !important;
            &:nth-of-type(3), &:nth-of-type(4) {
                vertical-align: top;
                margin-top: 0;
                padding-top: 12px;
                font-size: inherit;
                border-top: none;
                font-size: auto;
            }
            &.kml {
                display: none;
            }
            input {
                width: 100% !important;
                margin-top: 8px !important;
                padding-top: 0px !important;
            }
        }
    }
    .points {
        display: none;
    }
    .search-bar {
        display: none;
    }
}

.bootstrap-select {
    @include clearfix;
    .dropdown-toggle {
        display: none;
    }
    .dropdown-menu {
        @include display-flex;
        @include flex-wrap(wrap);
        @include flex-direction(row);
        display: block;
        position: static;
        border: none;
        box-shadow: none;
        list-style-type: circle;
        li, li.active {
            flex: 1;
            min-width: 30%;
            display: inline-block;
            margin-right: 20px;
        }
        a {
            background: none;
            color: black;
        }
        input {
            display: none;
        }
    }
}

.or-appearance-likert .option-wrapper > label .option-label {
    border-top: 1.5px solid black;
}

.question.or-appearance-compact input:checked ~ img,
.question.or-appearance-quickcompact input:checked ~ img {
    border-color: black;
}

.or-appearance-distress {
    .slider.slider-vertical {
        border: 1px solid black;
        border-bottom: none;
    }
    .bulb {
        border: 1px solid black;
        .inner {
            border: 1px solid black;
        }
    }
    .slider.slider-vertical .slider-track {
        border: 1px solid black;
        border-bottom: none;
    }
}

// pages mode
.pages.or {
    [role="page"] {
        display: inherit;
    }
    .or-group, .or-group-data, .or-repeat {
        display: inherit;
    }
}

// pagebreak management
*:not(.or-appearance-field-list) .question, .note, .trigger, .or-appearance-field-list {
    page-break-inside: avoid;
}

// the below rules do not have an effect in Chrome and Opera
// but work fine in IE10, IE11 and Safari
h3, h4 {
    page-break-after: avoid;
    + .trigger, + .question, + .note {
        page-break-before: avoid;
    }
}

/*.page-break {
    display: block;
    //border: 1px dashed blue;
    width: 100%;
    margin: 0;
    color: transparent;
    border-bottom: none;
    page-break-after: always !important;
}*/
