* {
    @include box-sizing(border-box);
}

*:before,
*:after {
    @include box-sizing(border-box);
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    @include font-normal;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
    background-color: $body-bg;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: $link-color;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: underline;
    }
    &:focus {
        @include tab-focus;
    }
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}

hr {
    margin-top: $line-height-computed;
    margin-bottom: $line-height-computed;
    border: 0;
    border-top: 1px solid $hr-border;
}

strong {
    @include font-bold;
}

h1 {
    font-size: $font-size-base * 2.75;
}

h2 {
    font-size: $font-size-base * 2.25;
}

h3 {
    font-size: $font-size-base * 1.75;
}

h4 {
    font-size: $font-size-base * 1.25;
}

h5 {
    font-size: $font-size-base;
}

h6 {
    font-size: $font-size-base * 0.85;
}

h2, h3, h4 {
    @include font-bold;
    color: $brand-primary-color;
    text-align: center;
}

input, select, textarea {
    @include font-normal;
}
