@mixin small-screen-paddings {
    body {
        padding: 0 !important;
        header {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

@media screen and (max-width: $main-breakpoint) {
    @include small-screen-paddings;
    body {
        background: none;
    }
    .main {
        margin: 0;
        padding: 0;
    }
    .preview-header {
        top: -5px;
    }
    .paper {
        @include border-radius(0px);
    }
    .form-header {
        top: 0;
        padding-left: 16px;
        padding-right: 16px;
        border-bottom: 1px solid $groupline;
        .form-language-selector > span {
            display: none;
        }
    }
    h3 {
        padding-top: 25px;
    }
}

@media screen and (max-width: 600px) {
    $form-padding: 30px;
    body {
        //background: none;
        line-height: 1.05 * $line-height-base;
    }
    .main {
        //margin: 0;
        article {
            padding: 70px $form-padding $form-padding $form-padding;
        }
    }
    .form-footer {
        width: calc(100% + ( 2 * #{$form-padding} ));
        margin: 45px;
        margin-right: -#{$form-padding};
        margin-bottom: -#{$form-padding};
        margin-left: -#{$form-padding};
    }
}

@media screen and (max-width: 400px) {
    $form-padding: 20px;
    body {
        //background: none;
        line-height: 1.09 * $line-height-base;
    }
    input {
        &[type="text"],&[type="password"], &[type="url"], &[type="email"],
        &[type="date"], &[type="number"], &[type="time"], &[type="datetime"], &[type="file"] {
            width: 100%;
        }
    }
    select, textarea {
        width: 100%;
    }
    .main {
        //margin: 0;
        article {
            padding: 70px $form-padding $form-padding $form-padding;
        }
    }
    .form-header {
        margin: 5px 0;
        .form-language-selector {
            border-right: none;
        }
    }
    .form-footer {
        width: calc(100% + ( 2 * #{$form-padding} ));
        margin-top: 45px;
        margin-right: -#{$form-padding};
        margin-bottom: -#{$form-padding};
        margin-left: -#{$form-padding};
    }
}
