//bootstrap icon font gets messed up if helper is used
$bootstrap-sass-asset-helper: false;

// fonts
$font-size-base: 16px;
$line-height-base: 1.25;

// borders
$groupline: #bbbbbb;
$line: 3px solid $groupline;

// inputs
$input-height: 34px;
$input-min-width: 0.2 * 720px;
$input-max-width: 80%;

// colors, icons
$accent-color-1: #252525;
$accent-color-2: lighten($accent-color-1, 50%);
$images-path: '../../images/';
$icon-font-path: '/lib/bootstrap-sass/fonts/';
$repeat-bg: lighten($accent-color-1, 55%);
$note-bg: #eeeeee;
$note-color: black;
$note-border: 1px solid #aaaaaa;
$note-border-radius: 4px;
$radiocheck-unchecked-color: $accent-color-1;
$radiocheck-checked-color: $accent-color-1;
$question-hover-bg: white;
$question-focus-bg: white;
$question-bg: white;

// layout
$max-content-width: 720px;
$main-breakpoint: $max-content-width;
