//bootstrap icon font gets messed up if helper is used
$bootstrap-sass-asset-helper: false;

// fonts
$baseFontSize: 16px;
$baseLineHeight: 20px;

// borders
$groupline: #bbbbbb;
$line: 3px solid $groupline;

// inputs
$input-height: 34px;
$input-min-width: 0.2 * 720px;
$input-max-width: 80%;

// colors, icons
$accent-color-1: #252525;
$images-path: '../../images/';
$icon-font-path: '/lib/bootstrap-sass/fonts/';
$repeat-bg: lighten($accent-color-1, 55%);
$note-bg: #eeeeee;
$note-color: black;
$note-border: 1px solid #aaaaaa;
$note-border-radius: 4px;

// layout
$max-content-width: 720px;
$main-breakpoint: $max-content-width;
