@import '../../widget/note/notewidget.scss';
@import '../../widget/select-desktop/selectpicker.scss';
@import '../../widget/select-mobile/selectpicker.scss';
@import '../../widget/range/range-widget.scss';
@import '../../widget/select-autocomplete/autocomplete';
@import '../../widget/geo/geopicker.scss';
@import '../../widget/table/tablewidget.scss';
@import '../../widget/radio/radiopicker.scss';
@import '../../widget/date/datepicker-extended.scss';
@import '../../widget/time/timepicker-extended.scss';
@import '../../widget/datetime/datetimepicker-extended.scss';
@import '../../widget/select-media/select-media.scss';
@import '../../widget/file/filepicker.scss';
@import '../../widget/draw/draw-widget.scss';
@import '../../widget/select-likert/likertitem.scss';
@import '../../widget/columns/columns.scss';
@import '../../widget/big-image/image-viewer.scss';
@import '../../widget/comment/commentwidget.scss';
@import '../../widget/image-map/image-map.scss';
@import '../../widget/rank/rank-widget.scss';
@import '../../widget/url/url-widget.scss';
@import '../../widget/rating/rating.scss';
@import '../../widget/text-print/text-print.scss';
