@mixin transition-slow{
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out; }

@mixin transition-fast{
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out; }

@mixin transition-background-color{
	-webkit-transition: background-color 0.2s linear;
	-moz-transition: background-color 0.2s linear;
	-o-transition: background-color 0.2s linear;
	transition: background-color 0.2s linear;}

@mixin hints-visible{
  .jr{
    .jr-hint.active{
      @include font-normal;
      color: #888888;
      display: block;
      line-height: 1.5em;
      font-weight: normal;
      font-size: .7em;
      font-style: italic;
      ~ br{
        display: none; } }
    label .jr-hint.active{
      padding-top: .5em; } 
    legend .jr-hint.active{
      padding-bottom: .6em; } } }

@mixin font-sizes($base, $factor){
  font-size: $factor * $base;
  h1 { font-size: $factor * $base * 2.75; } 
  h2 { font-size: $factor * $base * 2.25; } 
  h3 { font-size: $factor * $base * 1.75; } 
  h4 { font-size: $factor * $base * 1.25; } 
  h5 { font-size: $factor * $base; }
  h6 { font-size: $factor * $base * 0.85; } }

@mixin small-screen-paddings{
  body{
    padding: 0 !important;
    header{
      padding-left: 20px;
      padding-right: 20px; }
    #page .content{
      margin: 1em; } } }

@mixin border-box{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

@mixin box-shadow-none{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

@mixin box-shadow-touch{
	-webkit-box-shadow: inset 0 -1px 0 rgba(90, 90, 90, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 -1px 0 rgba(90, 90, 90, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 -1px 0 rgba(90, 90, 90, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);}

@mixin border-radius($radius){
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
	border-radius: $radius;}

/** copy of bootstrap style for alert-error */
@mixin error-bg-border{
  background-color: #F2DEDE;
  border-color: #EED3D7;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

@mixin error-text{
  display: block;
  padding-top: 5px;
  font-size: 0.85em;
  font-weight: bold;
  color: #B94A48;}

@mixin default-normal {
  font-family: 'OpenSansRegular', Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }

@mixin default-bold {
  font-family: 'OpenSansBold', Arial, sans-serif;;
  font-weight: normal;
  font-style: normal; }

@mixin appearance-none{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

@mixin btn-info-extension-flat{
	background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
	background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
	background-image: linear-gradient(to bottom, #3ca5d6, #3696c2);
	border: 1px solid #3186ad;}