// Dynamically created list of widget stylesheets to import based on the content
// based on the content of config.json

@import "../widget/note/note.scss";
@import "../widget/select-desktop/selectpicker.scss";
@import "../widget/select-mobile/selectpicker.scss";
@import "../widget/geopoint/geopointpicker.scss";
@import "../widget/table/tablewidget.scss";
@import "../widget/radio/radiopicker.scss";
@import "../widget/time/timepicker-extended.scss";
@import "../widget/date/datepicker-extended.scss";
@import "../widget/datetime/datetimepicker-extended.scss";
@import "../widget/mediagrid/mediagridpicker.scss";
@import "../widget/medialabel/medialabelwidget.scss";
@import "../widget/file-offline/offline-filepicker.scss";
