[submodule "lib/xpath"]
	path = lib/xpath
	url = https://github.com/MartijnR/xpathjs_javarosa.git
[submodule "lib/text"]
	path = lib/text
	url = https://github.com/requirejs/text.git
[submodule "lib/file-manager"]
	path = lib/file-manager
	url = https://github.com/MartijnR/file-manager.git
[submodule "src/widget/date/bootstrap-datepicker"]
	path = src/widget/date/bootstrap-datepicker
	url = https://github.com/eternicode/bootstrap-datepicker.git
[submodule "src/widget/time/bootstrap-timepicker"]
	path = src/widget/time/bootstrap-timepicker
	url = https://github.com/jdewit/bootstrap-timepicker.git
