/node_modules/
/build/css/
/build/js/
/test/mock/forms.json
temp
.sass-cache
._*
.grunt
*.sublime-project
*.sublime-workspace
_SpecRunner.html
npm-debug.log
/src/widget/geo-esri/esri/**/*.js
/src/widget/geo-esri/esri/**/*.gif
/src/widget/geo-esri/esri/**/*.jpg
/src/widget/geo-esri/esri/**/*.png
/src/widget/geo-esri/esri/**/*.html
/src/widget/geo-esri/esri/**/*.xml
/src/widget/geo-esri/esri/**/*.svg
/src/widget/geo-esri/esri/**/*.wsv
/src/widget/geo-esri/esri/**/fonts
/src/widget/geo-esri/esri/**/*.pdf
/src/widget/geo-esri/esri/**/*.md
/src/widget/geo-esri/esri/**/*.json
