.file-picker {
    .fake-file-input {
        @include form-control;
        width: $input-max-width;
    }
    .file-feedback, .file-preview {
        @include font-normal;
    }
    .file-feedback.error {
        @extend .or-constraint-msg.active;
    }
    .file-feedback.warning {
        @extend .or-required-msg.active;
        color: $state-warning-text;
    }
    .file-preview {
        margin-top: 10px;
    }
}

input[type="file"].transparent {
    position: absolute;
    visibility: hidden;
    z-index: 5;
}
