.rank-widget {
    position: relative;
    display: flex;
    &--empty {
        //~.btn-confirm {
        //    border: 1px solid red;
        //}
        //opacity: 0.5;
        > * {
            opacity: 0.5;
        }
        .rank-widget__overlay {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0; // border: 1px solid pink; //background: gray;
            opacity: 1;
            text-align: center;
            &__content {
                position: absolute;
                top: 0;
                bottom: 20px;
                left: 0;
                right: 0;
                width: 50%;
                height: 30px;
                font-size: 30px;
                margin: auto;
                line-height: 30px;
            }
        }
    }
    &__overlay {
        display: none;
    }
    label {
        border: 1px solid gray;
        border-radius: 5px;
        margin: 0 0 5px 0;
        position: relative;

        .handle {
            display: none;

            &[draggable='true'] {
                display: block;
                position: absolute;
                box-sizing: border-box;
                padding: inherit;
                top: 0;
                bottom: 0;
                left: 0;
                width: 2em;
                text-indent: 5px;
            }
        }

        @media (pointer: fine) and (hover: 'hover') {
            .handle[draggable='true'] {
                width: 100%;
            }
        }
    } //&__item--hover {}
    input[type='text'] {
        display: none;
    }
    .btn-reset {
        margin-top: 5px;
        order: 10;
    }

    .question.simple-select &.option-wrapper > label:hover:not(.filler) {
        background: none;
    }
}
