@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    input[type='radio'],
    input[type='checkbox'] {
        + .option-label::before {
            border-width: 1px;
        }
        &:checked + .option-label::before {
            background-position: -1px;
        }
    }
    input[type='radio'] {
        &:checked + .option-label::before {
            background-position: 0;
        }
    }
}
