//widget scss overrides

.question .geopoint.widget {
    input[type=number], input[type=text] {
        &[name=alt], &[name=acc] {
            width: 40%;
        }
    }
}

.widget.date,
.widget.bootstrap-timepicker,
.widget.datetimepicker {
    @include display-flex;

    @include flex-wrap(no-wrap);

    @include flex-direction(row);
}

.question .widget.datetimepicker {
    .date, .bootstrap-timepicker {
        @include flex(1);

        input {
            width: auto;
        }

        .btn-reset {
            float: right;
        }
    }
}

.or[dir="rtl"] .question .widget.datetimepicker {
    .date, .bootstrap-timepicker {
        .btn-reset {
            float: left;
        }
    }
}

.or-appearance-likert .option-wrapper {
    // Not clear to me why all these likert fixes are necessary
    margin-top: 20px;

    > label {
        margin-bottom: 30px;

        input[type=radio], input[type=checkbox] {
            margin-top: -45px;
        }

        .option-label {
            border-top-width: 1.5px;
        }
    }
}

// tables
.question.or-appearance-list-nolabel, .question.or-appearance-label {
    margin: 0;

    &:not(:last-child) {
        border-bottom: none;
    }
}

.or-appearance-label {
    padding-bottom: 0;
}

.touch {
    .question:not(.or-appearance-compact):not(.or-appearance-quickcompact):not(.or-appearance-label):not(.or-appearance-list-nolabel):not(.or-appearance-likert) {
        // touch radio buttons and checkboxes
        .option-wrapper > label {
            border: none;

            @include border-radius(0);

            &[data-checked] {
                background-color: transparent;
            }
        }
    }
}

// geopoint widget
.question .geopicker.widget {
    input[type=text], input[type=number], textarea {
        @include border-radius(0);

        @include box-shadow-none;

        border: none;
        border-bottom: 1px dotted #cccccc;
        background-color: transparent;
    }

    input[type=text][name=search] {
        width: 80%;
    }

    textarea {
        // because textarea has placeholder
        padding-top: 10px;
    }

    label.geo.alt {
        border-top: none;
    }

    .btn:not(.close-chain-btn) {
        background: transparent;
        border: none;

        &:hover {
            opacity: 0.6;
        }
    }

    .map-canvas-wrapper, .search-bar {
        border-left: none;
    }

    &:not(.full-screen).hide-input {
        &.wide {
            .map-canvas {
                height: 450px;
            }
        }
    }

    .toggle-input-btn:not(.open) {
        left: 0;
    }
}

.esri-geopicker {
    border-bottom: none;
    padding-bottom: 0;

    .btn[name=geodetect] {
        border: none;
        background: transparent;
        box-shadow: none;
        font-weight: bolder;
    }

    input[type=text], input[type=number], textarea, select {
        border-bottom: 1px dotted #cccccc;
    }

    .geo-unit {
        right: 12px;
    }
}

html:not(.touch) .question .geopoint.widget {
    .search-bar {
        button.btn {
            border: none;
            background: transparent;

            @include border-radius(0);

            &:hover {
                background: transparent;
                color: #aaaaaa;
            }
        }

        [name=search] ~ .input-group-btn .btn {
            border-bottom: 1px dotted #cccccc;
        }
    }
}

// comment widget
.or-comment-widget {
    &__content {
        padding-top: 60px;
    }

    &__overlay + .question {
        margin-left: 0;
        margin-right: 0;
    }

    .question {
        border: $grid-border;

        input, textarea {
            order: 4;
        }
    }
}

.btn-comment {
    position: absolute;
    top: $q-pad-top;
    right: $q-pad-left;

    //left: $q-pad-right;
    margin: 0;
}

legend .btn-comment {
    right: 0;
    top: 0;

    // undo legend hack
    .icon {
        position: static;
    }
}

.or[dir="rtl"] {
    .btn-comment {
        left: $q-pad-left;
        right: auto;
    }

    legend .btn-comment {
        left: 0;
        right: auto;
    }

    .esri-geopicker {
        .geo-unit {
            right: auto;
            left: 12px;
        }
    }
}

// select picker
.bootstrap-select {
    .dropdown-toggle, .dropdown-menu {
        width: 100%;
    }
}
