.icon-crosshairs{
  background-image: url($images-path+"crosshairs.png");
  background-position: -5px -5px;
}

.geopoint { 
  $map-height: 275px;
  $map-width: 65%;
  $input-width: 27%;
  $separator-width: 4%;
  $detect-width: 40px;
  $search-width: 85%;
  margin-top: 25px;
  .geo-inputs {
    min-width: 160px;
    width: $input-width;
    margin: 0 $separator-width 0 0;
    @media screen and (max-width: 700px){
      width: 100%; } }
  .map-canvas-wrapper, .search-bar {
    width: $map-width;  
    float: right;
    padding-left: $separator-width;
    border-left: solid 1px $groupline; 
    @media screen and (max-width: 700px) {
      width: 100%;
      float: none; 
      padding-left: 0;
      border-left: none; }
    img{
      width: 100%;
      height: 100%; } }
  .search-bar .input-append {
    width: $search-width; }
  button, .input-append .add-on {
    height: 44px;
    &[name="geodetect"] {
      display: inline-block;
      float: right;
      margin: 8px 0 0 $separator-width;
      width: $detect-width; } }
  .no-search-input{
    &.no-map{
      border-left: none; }
    button[name="geodetect"] {
      float: none;
      display: block;
      margin: 15px auto 15px auto;
      width: 50%; } }
  label.geo{
    @include font-normal;
    display: block;
    border: none;
    padding: 0;
    margin: 15px 0 0 0;
    &:nth-of-type(1) {
        padding-top: 5px; } 
    &:nth-of-type(2) {
        margin-bottom: 20px; };
    &:nth-of-type(3) {
    border-top: solid 1px $groupline;
    padding: 12px 0 0 0;
    margin: 0 0 0 0;
    @media screen and (max-width: 700px) {
      border-top: none; } }
    &:nth-of-type(4) {
      padding: 0;
      margin: 5px 0 0 0; }
    &:nth-of-type(3), &:nth-of-type(4) {
        line-height: 50px;
        font-size: 0.75 * $baseFontSize; } }
  input{
    &[name="lat"],&[name="long"] {
      float: none;
      @include border-box;
      width: 100%; }
    &[name="alt"], &[name="acc"] {
      @include border-box;
      display: block;
      float: right;
      width: 40%;
      @media screen and (max-width: 700px) {
        width: 50%; } } }
  .map-canvas {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    height: $map-height;
    img{
    max-width: none; } } } 