@mixin font-bold {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: bold;
  font-style: normal; }

@mixin font-normal {
  font-family: 'OpenSans', Arial, sans-serif;
  font-weight: normal;
  font-style: normal; }
