/* fancy radio buttons / checkboxes */
.question:not(.or-appearance-label):not(.or-appearance-compact):not(.or-appearance-quickcompact) {
    label {
        $line-h: 20px;
        line-height: $line-h;
        outline: 0;
        :not(img):not(video):not(audio).active {
            margin-left: 0;
        }
        .option-label::before {
            @include enketo-icon;
            display: block;
            float: left;
            font-size: $line-h;
            width: $line-h;
            margin-right: 10px;
            // for non-white backgrounds, round this thing
            border-radius: 10px;
        }
        input[type=radio] {
            display: none;
            ~ .option-label::before {
                @include radio-unchecked-icon;
            }
            &:checked ~ .option-label::before {
                @include radio-checked-icon;
            }
        }
        input[type=checkbox] {
            display: none;
            ~ .option-label::before {
                @include checkbox-unchecked-icon;
            }
            &:checked ~ .option-label::before {
                @include checkbox-checked-icon;
            }
        }
    }
    // where regular labels are shown
    &:not(.or-appearance-likert):not(.or-appearance-label):not(.or-appearance-list-nolabel) {
        .option-wrapper > label {
            padding-left: 35px;
            .option-label::before {
                margin-left: -30px;
            }
        }
    }
}

// tweak for touchscreens
.touch .question:not(.or-appearance-compact):not(.or-appearance-quickcompact):not(.or-appearance-label):not(.or-appearance-list-nolabel):not(.or-appearance-likert) {
    .option-wrapper > label {
        padding-left: 40px;
    }
}

// tables
.question.or-appearance-list-nolabel, .question.or-appearance-label {
    label::before {
        margin-left: -10px;
    }
}

.question.or-appearance-list-nolabel label {
    .option-label.active {
        visibility: visible;
        // if important is not added below, the text shows up in prints in Chrome
        color: transparent !important;
        // IE11 requires further hacks for the actual prints
        -ms-overflow-x: hidden !important;
        -ms-overflow-y: hidden !important;
        width: 22px;
        height: 22px;
        display: inline-block;
    }
}

// likert widget
.or-appearance-likert .option-wrapper {
    padding-top: 20px;
    > label {
        input[type=radio] ~ .option-label::before,
        input[type=checkbox] ~ .option-label::before {
            position: absolute;
            top: -10px;
            left: 50%;
            padding: 0;
            margin-left: -10px;
            background-color: white;
            z-index: 10;
        }
        .option-label {
            margin-top: -11.5px;
        }
    }
}

.disabled .option-wrapper {
    input[type=radio],
    input[type=checkbox] {
        &.option-wrapper::before {
            cursor: default;
            opacity: 0.5;
        }
    }
}
