/* fancy radio buttons / checkboxes */
legend ~ .option-wrapper > label .active:not(img):not(video):not(audio) {
    //margin-left: 45px;
    //display: block;
}

.question:not(.or-appearance-label):not(.or-appearance-compact):not(.or-appearance-quickcompact) {
    .option-wrapper label {
        $line-h: 20px;
        
        line-height: $line-h;
        outline: 0;
        padding-left: 5px;
        &::before {
            @include enketo-icon;
            display: block;
            float: left;
            font-size: $line-h;
            width: $line-h;
        }
        &.select1 {
            &::before {
                @include radio-unchecked-icon;
            }
            &[data-checked="true"]::before {
                @include radio-checked-icon;
            }
        }
        &.select {
            &::before {
                @include checkbox-unchecked-icon;
            }
            &[data-checked="true"]::before {
                @include checkbox-checked-icon;
            }
        }
        input {
            display: none;
        }
        .option-label {
       
        }
    }
}

//tables
.question.or-appearance-list-nolabel, .question.or-appearance-label {
    label::before {
    margin-left: -10px;
    }
}






/*
.option-wrapper input[type=checkbox] {
    background-position: 0 0;
    &:checked {
        background-position: -22px 0;
    }
}

.question:disabled .option-wrapper input[type=checkbox], .option-wrapper input[type=checkbox]:disabled {
    cursor: default;
    background-position: -44px 0;
    &:checked {
        background-position: -66px 0;
    }
}

.option-wrapper input[type=radio] {
    background-position: -88px 0;
    &:checked {
        background-position: -110px 0;
    }
}

.question:disabled input[type=radio], .option-wrapper input[type=radio]:disabled {
    cursor: default;
    background-position: -132px 0;
    &:checked {
        background-position: -154px 0;
    }
}
*/
