@import "radiocheck";

/** apply bootstrap .form-control class by default **/
input:not([type=radio]):not([type=checkbox]), select, textarea {
    @extend .form-control;
}

.or-group {
	border-top: none;
}

.note, .trigger {
	border-left: none;
	border-right: none;
    padding: 15px 0;
}

.btn-reset {
    .glyphicon-trash {
        vertical-align: bottom;
    }
}
