// these override the default variables if they exist already
$baseFontSize: 15px;
$accent-color-1: #CE4F07;
$repeat-bg: lighten($accent-color-1, 55%);

$note-bg: #ffffff;
$note-border: 2px solid #D4D4D4;
$note-border-radius: 0;
