.or-appearance-horizontal {
    .option-wrapper {
        @include display-flex;
        @include flex-wrap(wrap);
        @include flex-direction(row);
        // safari needs this to be inline or inline-block
        // display: inline-block;
   
    }
    label, .filler {
        @include flex(1 0 30%);
        padding-right: 10px;
    }
    .filler, .filler:hover, .filler:focus {
        border: none !important;
        background: transparent !important;
    }
    [type="radio"], [type="checkbox"] {
        width: auto;
    }
}

.or-appearance-horizontal-compact {
    label {
        padding-right: 10px;
        float: left;
    }
    [type="radio"], [type="checkbox"] {
        width: auto;
    }
}
