.question.or-appearance-compact, .question.or-appearance-quickcompact {
    legend {
        border: none;
    }
    .option-wrapper > label {
        display: inline-block;
        &:hover {
            background: none;
        }
        .active {
            display: none;
        }
        img.active {
            display: block;
            margin-left: 0;
            margin-right: 0;
            max-width: 150px;
            max-height: 150px;
            border: 2px solid transparent;
            &:hover {
                border-color: lighten($brand-primary-color, 30%);
            }
        }
    }
    input {
        display: none;
        &:checked ~ img.active, &:checked ~ img.active:hover {
            border-color: $brand-primary-color;
        }
    }
}
