.question.or-appearance-compact, .question.or-appearance-quickcompact {
    legend {
        border: none;
    }
    .option-wrapper > label {
        float: left;
        &:hover {
            background: none;
        }
        span.active:not(.or-hint):not(.or-constraint-msg) {
            margin-left: 0;
            display: none;
        }
    }
    input {
        display: none;
        ~ img.active {
            margin-left: 0;
            max-width: 150px;
            max-height: 150px;
            border: 2px solid transparent;
        }
        ~ img:hover {
            border-color: lighten($brand-primary-color, 30%);
        }
        &:checked ~ img, &:checked ~ img:hover {
            border-color: $brand-primary-color;
        }
    }
}
