.bootstrap-select {
    margin-top: 15px;
    .dropdown-toggle {
        min-width: $input-min-width - 14px;
        @include font-normal;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        text-align: left;
        .caret {
            margin-left: 10px;
        }
        ~ .dropdown-menu {
            .option-wrapper {
                padding-left: 5px;
                background-color: transparent;
                color: black;
                label {
                    @include font-normal;
                    padding-top: 0px;
                    padding-left: 0px;
                    font-size: $font-size-base;
                    input[type="checkbox"], input[type="radio"] {
                        margin: 4px 10px 1px 0;
                    }
                    &:hover {
                        background: transparent;
                    }
                }
            }
        }
    }
}
