.question.or-appearance-list-nolabel, .question.or-appearance-label {
    margin: -0.9em 0 -0.7em 0;
    legend {
        float: left;
        border: none;
        line-height: 17px;
        width: 40%;
        min-height: 1px;
    }
    .option-wrapper {
        @include display-flex;
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        label {
            @include flex(1);
            max-width: 100px !important;
            text-align: center !important;
            padding-left: 0 !important;
            .active {
                margin: 0 auto;
            }
        }
    }
    .option-label.active {
        text-align: center;
    }
    // center the checkboxes, radiobuttons, fake radiobuttions, and fake checkboxes
    input[type=radio],
    input[type=checkbox],
    input[type=radio] ~ .option-label::before,
    input[type=checkbox] ~ .option-label::before {
        position: relative;
        left: 50%;
        margin-left: -10px;
        visibility: visible;
    }
    ~ .note {
        background-color: transparent;
        @extend h4;
    }
}

.question.or-appearance-list-nolabel {
    label {
        .active {
            display: none;
            //visibility: hidden;
            float: none;
        }
    }
}

.question.or-appearance-label {
    legend ~ .option-wrapper > label {
        margin-bottom: 6px;
        &:hover {
            background-color: transparent;
        }
    }
    input {
        float: none;
        display: none !important;
    }
    img {
        max-height: 30px;
        max-width: 30px;
        float: none;
    }
}
