.question.or-appearance-list-nolabel, .question.or-appearance-label {
    margin: -0.9em 0 -0.7em 0;
    legend {
        float: left;
        border: none;
        line-height: 17px;
        width: 40%;
        min-height: 1px;
    }
    .option-wrapper {
        @include display-flex;
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        label {
            @include flex(1);
            max-width: 100px;
            text-align: center;
            padding-left: 0;
            .active {
                margin: 0 auto;
            }
        }
    }
    .option-label.active {
        text-align: center;
    }
}

.or[dir="rtl"] {
    .question.or-appearance-list-nolabel, .question.or-appearance-label {
        margin: -0.9em 0 -0.7em 0;
        legend {
            float: right;
        }
    }
}

.question.or-appearance-list-nolabel {
    label {
        .active {
            display: none;
            float: none;
        }
    }
    // center the checkboxes, radiobuttons
    input[type=radio],
    input[type=checkbox] {
        float: none;
        text-align: center;
        display: inline;
    }
}

.question.or-appearance-label {
    .option-wrapper > label {
        margin-bottom: 6px;
        &:hover {
            background-color: transparent;
        }
    }
    input[type=radio],
    input[type=checkbox] {
        display: none;
    }
    img {
        max-height: 30px;
        max-width: 30px;
        float: none;
    }
}

.or[dir="rtl"] {
    .question.or-appearance-label {
        .option-wrapper > label {
            img {
                float: none;
            }
        }
    }
}
